html {
    --lumo-primary-color: #BA55D3;
    --lumo-error-color: #BA55D3;
    --lumo-body-text-color: #BA55D3;
    --lumo-header-text-color: #BA55D3;
    --lumo-contrast-5pct: #E6E6FA;
    --lumo-base-color: #E6E6FA;


    --lumo-border-radius-m: 0.75rem;

}


